@model ArtisansBeadStudio.Models.KeychainDto
@{
    ViewBag.Title = "Edit";
}
<div class="menuLink">
    <a href="/Keychain/Details/@Model.KeychainId">Back</a>
</div>
<div class="create">
    <h2>Update Keychain</h2>

    <form action="/Keychain/Update/@Model.KeychainId" method="POST" onsubmit="return validation();">
        <div style="display:none;">
            @* Pass through the bead ID *@
            <input type="text" name="KeychainId" value="@Model.KeychainId" />
        </div>
        <div style="display:none;">
            @* Pass through the user ID *@
            <input type="text" name="UserID" value="@Model.UserID"/>
        </div>
        <div id="errormsg" style="color:red;"></div>
        <div>
            <label for="KeychainName">Keychain Name:</label>
            <input name="KeychainName" type="text" value="@Model.KeychainName" id="KeychainName"/>
        </div>
        <div>
            <input type="submit" value="Update Keychain" id="button" />
        </div>

    </form>
</div>


<style>
    .menuLink {
        margin: 2rem 0;
    }

        .menuLink a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

    .create {
        border: dashed 4px #000;
        margin: 5em;
        padding: 3em;
        background-color: #bfd9bf;
    }

    #button {
        background-color: #427142;
        border: solid 1px #427142;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
</style>
<script>
    function validation() {
        var keychainName = document.getElementById("KeychainName");
        var errorMsg = document.getElementById("errormsg");

        if (keychainName.value == "") {
            keychainName.focus();
            keychainName.style.backgroundColor = "red";
            errorMsg.innerHTML = "Please fill the Keychain Name";
            return false;
        } else {
            keychainName.style.backgroundColor = "white";
        }
    }
</script>