
@{
    ViewBag.Title = "New";
}
<div class="menuLink">
    <a href="/Keychain/List">Back to all the keychains</a>
</div>
<div class="create">
    <h2>Create a Keychain</h2>

    <form action="/Keychain/Create" method="POST" onsubmit="return validation();">
        <div id="errormsg" style="color:red;"></div>
        <div>
            <label for="KeychainName">Keychain Name:</label>
            <input name="KeychainName" type="text" id="KeychainName"/>
        </div>
        <div>
            <input type="submit" value="Add A Keychain" id="button" />
        </div>

    </form>
</div>

<style>
    .create {
        border: dashed 4px #000;
        margin: 5em;
        padding: 3em;
        background-color: #f2ead4;
    }

    .menuLink {
        margin: 2rem 0;
    }

        .menuLink a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

    #button {
        background-color: #bf9b3a;
        border: solid 1px #bf9b3a;
        border-radius: 5px;
        font-weight: bold;
        color: white;
    }
</style>
<script>
    function validation() {
        var keychainName = document.getElementById("KeychainName");
        var errorMsg = document.getElementById("errormsg");

        if (keychainName.value == "") {
            keychainName.focus();
            keychainName.style.backgroundColor = "red";
            errorMsg.innerHTML = "Please fill the Keychain Name";
            return false;
        } else {
            keychainName.style.backgroundColor = "white";
        }
    }
</script>