@model IEnumerable<ArtisansBeadStudio.Models.BeadColourDto>
@{
    ViewBag.Title = "New";
}
<div class="menuLink">
    <a href="/Bead/List">Back to all the beads</a>
</div>
<div class="create">
    <h2>Create A Bead</h2>
    <form action="/Bead/Create" method="POST" onsubmit="return validation();">
        <div id="errormessage" style="color:red;"></div>
        <div>
            <label for="BeadName">Bead Name:</label>
            <input name="BeadName" type="text" id="BeadName"/>
        </div>
        <div>
            <label for="BeadDescription">Bead Description:</label>
            <input name="BeadDescription" type="text" id="BeadDescription"/>
        </div>
        <div>
            <label for="ColourId">Bead Colour Id:</label>
            <select id="ColourId" name="ColourId">
                @foreach (var colour in Model)
                {
                    <option value="@colour.ColourId">@colour.ColourProperty @colour.ColourName</option>

                }
            </select>
        </div>
        <div>
            <input type="submit" value="Add A Bead" id="button" />
        </div>

    </form>
</div>
<style>
    .create {
        border: dashed 4px #000;
        margin: 5em;
        padding: 3em;
        background-color: #FFEBFA;
    }

    .menuLink {
        margin: 2rem 0;
    }

        .menuLink a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

    #button {
        background-color: #ff9fe7;
        border: solid 1px #ff9fe7;
        border-radius: 5px;
        font-weight: bold;
    }
</style>
<script>
    function validation() {
        var errormessage = document.getElementById("errormessage");
        var BeadName = document.getElementById("BeadName");
        var BeadDescription = document.getElementById("BeadDescription");
        var BeadColour = document.getElementById("ColourId");

        if (BeadName.value == "") {
            BeadName.focus();
            BeadName.style.backgroundColor = "red";
            errormessage.innerHTML = "Fill the Bead Name";
            return false;
        } else {
            BeadName.style.backgroundColor = "white";
        };


        if (BeadDescription.value == "") {
            BeadDescription.focus();
            BeadDescription.style.backgroundColor = "red";
            errormessage.innerHTML = "Fill the Bead Descrpition";
            return false;
        } else {
            BeadDescription.style.backgroundColor = "white";
        };

        if (BeadColour.value == "") {
            BeadColour.focus();
            BeadColour.style.backgroundColor = "red";
            errormessage.innerHTML = "Choose the bead colour";
            return false;
        } else {
            BeadColour.style.backgroundColor = "white";
        }

    }
</script>

