
@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-color: blanchedalmond;
        font-family: monospace;
    }

    h2 {
        color: black;
    }
</style>
<h2>Details</h2>

