@model ArtisansBeadStudio.Models.ViewModels.DetailsStyle
@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-color: blanchedalmond;
        font-family: monospace;
    }

    h2 {
        color: black;
    }
</style>
<a href="/Style/List/@Model.SelectedStyle.StyleID">Go back to Style-list</a>
<br />
<a href="/Style/Edit/@Model.SelectedStyle.StyleID">Update Style</a>
<br />
<a style="color:#ab2020;" href="/Style/DeleteConfirm/@Model.SelectedStyle.StyleID">Delete</a>
<h1>@Model.SelectedStyle.StyleName</h1>

<div>
    <h2>These keychains belong to @Model.SelectedStyle.StyleName style</h2>
    @foreach(var keychain in Model.keychainsInStyle)
            {
               <h3><a href="/Keychain/Details/@keychain.KeychainId">@keychain.KeychainName</a></h3>
            }
</div>


