@model IEnumerable<ArtisansBeadStudio.Models.StyleDto>
@{
    ViewBag.Title = "List";
}
<style>
    body {
        background-color: blanchedalmond;
        font-family: monospace;
    }

    h3 {
        color: black;
    }

    h1 {
        color: black;
        text-shadow: 1.5px 1.5px white;
    }
</style>
<h1>List of Styles</h1>
<br />
<div>
    @foreach (var style in Model)
    {
        <h3><a href="/Style/Details/@style.StyleID">@style.StyleName</a></h3>
    }
</div>
<br />
<a href="/Style/New">New Style</a>