
@{
    ViewBag.Title = "New";
}
<style>
    body {
        background-color: blanchedalmond;
        font-family: monospace;
    }

    h2 {
        color: black;
    }
</style>

<div class="menuLink">
    <a href="/Style/List">Back to all the Styles</a>
</div>
<h2>New</h2>
<div class="create">
    <h2>Create a style</h2>

    <form action="/Style/Create" method="POST">
        <div>
            <label>Style Name:</label>
            <input name="StyleName" type="text" />
        </div>
        <div>
            <input type="submit" value="Add A Style" id="button" />
        </div>

    </form>
</div>
