@model ArtisansBeadStudio.Models.BeadColourDto
@{
    ViewBag.Title = "Edit";
}

<div class="menuLink">
    <a href="/BeadColour/Details/@Model.ColourId">Back</a>
</div>
<div class="create">
    <h2>Update Bead Colour</h2>

    <form action="/BeadColour/Update/@Model.ColourId" method="POST" onsubmit="return validation();">
        <div style="display:none;">
            @* Pass through the bead ID *@
            <input type="text" name="ColourId" value="@Model.ColourId" />
        </div>
        <div id="errormsg" style="color:red;"></div>
        <div>
            <label for="ColourName">Colour Name:</label>
            <input name="ColourName" type="text" value="@Model.ColourName" id="ColourName"/>
        </div>
        <div>
            <label>Colour Property:</label>
            <input name="ColourProperty" type="radio" id="Solid" value="Solid" />
            <label for="Solid">Solid</label>
            <input name="ColourProperty" type="radio" id="Transparent" value="Transparent" />
            <label for="Transparent">Transparent</label>
        </div>
        <div>
            <input type="submit" value="Update Bead Colour" id="button" />
        </div>

    </form>
</div>

<style>
    .menuLink {
        margin: 2rem 0;
    }

        .menuLink a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

    .create {
        border: dashed 4px #000;
        margin: 5em;
        padding: 3em;
        background-color: #d8e6ad;
    }

    #button {
        background-color: #6e8428;
        border: solid 1px #6e8428;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
</style>

<script>
    function validation() {
        var ColourName = document.getElementById("ColourName");
        var solidColour = document.getElementById("Solid");
        var transparentColour = document.getElementById("Transparent");
        var errormessage = document.getElementById("errormsg");

        if (ColourName.value == "") {
            ColourName.focus();
            ColourName.style.backgroundColor = "red";
            errormessage.innerHTML = "Fill the Colour Name";
            return false;
        } else {
            ColourName.style.backgroundColor = "white";
        };

        var colorPropertyChecked = false;
        if (solidColour.checked || transparentColour.checked) {
            colorPropertyChecked = true;
        }

        if (!colorPropertyChecked) {
            errormessage.innerHTML = "Choose the Colour Property";
            return false;
        }

    }
</script>